body {
  background-color: #1a1a1a;
  font-family: "Arial", Times, serif;
  margin: 0;
  color: #717171;
}
#back {
  background-color: #101012;
  max-width:1280px;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
}


/* navbar */
div.sticky {
    color: #717171;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #101012;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #101012;
    border-radius: 50px;
}

table, th, td {
  color: #717171;
}

table {
  margin: auto;
}


#search {
    opacity: 0.8;
    width: 25%;
    padding-left: 40px;
    font-size: 50px;
    padding: 10px;
    background-color: #36363c;
    outline:0 !important;
    border-radius: 5px;
    border-color: #36363c;
    color: #b9b9b9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* navbar buttons */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
#login {
  float: right;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
    padding: 25px 20px;
    border-radius: 5px;
}
.active {
    background-color: #222;
    padding: 25px 20px;
    border-radius: 5px;
}
.available {
    background-color: #16161f;
}



th {
  padding: 50px;
  text-align: center;
  color: #717171;
}

td {
  text-align: left;
  padding-left: 20px;
  font-size: 50px;

}

.sitebuffer {
  text-align: center;
  font-size: 100px;
  vertical-align: top;
}
